* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*--HOME SLIDER--*/
a.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

#slider-image {
    height: 500px;
    width: auto;
    background-image: url('images/image-39.jpg');
    background-size: cover;
    background-position: center;
}

.slider-title {
    font-weight: 600;
}

.slider-text {
    padding-top: 10%;
    margin-left: 30px;
}

@media(max-width:576px) {
    .slider-text {
        margin-left: 5px;
    }
}

.slider-heading {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.slider-button {
    border: 2px solid #000;
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
/*---END HOME-SLIDER-*/

/*----About----*/
#about{
    height: 400px;
    width: auto;
    background-color: white;
}
@media(max-width:576px){
    #about{
        height: 400px;
        width: auto;
        background-color: white;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #about{
        height: 400px;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    
}

/*----About-first-image---*/
.about-image-first {
    background-image: url('images/image-6.jpg');
    height: 222px;
    width: 100%;
    transition: background 0.5s,transform 0.5s;
    background-repeat: no-repeat;
}
.about-image-title1{
    font-size: 18px;
    padding-top: 24%;
    margin-left: 4px;
    font-weight: 500;
}
.about-image-title-2{
    font-size: 15px;
    padding-top: 14px;
    padding-left: 10px;
    font-weight: 600;
}
@media(max-width:576px){
    .about-image-first{
        margin-top: 10px;
    }
    .about-image-title1{
        font-size: 18px;
    }
}
.about-image-first:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
/*----About-first-image-end---*/




/*----About-second-image---*/
.about-image-second {
    background-image: url("images/image-7.jpg");
    height: 222px;
    width: 100%;
    transition: background 0.5s,transform 0.5s;
    background-repeat: no-repeat;
}
.about-second-title1{
    font-size: 18px;
    padding-top: 80px;
    padding-left: 10px;
}
.about-second-2{
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
}
@media(max-width:576px){
    .about-image-second{
        margin-top: 10px;
    }
}
.about-image-second:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
/*----About-second-image-End--*/

/*----About-therd-image--*/
.about-image-therd {
    background-image: url("images/image-8.jpg");
    height: 222px;
    width: 100%;
    transition: background 0.5s,transform 0.5s;
    background-repeat: no-repeat;
}
@media(max-width:576px){
    .about-image-therd{
        margin-top: 10px;
    }
}
.about-image-therd:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
/*----About-therd-image-end--*/





/*----END ABOUT-----*/